{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
動作確認用ページ
{% endblock %}

{% block head %}
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<main>

  <h1>動作確認用ページ</h1>
  <ul>
    <li><a href="{% url 'esuits:samples:newsapi_sample' %}">newsapi</a></li>
    <li><a href="{% url 'esuits:samples:change_color_sample' %}">文章の一部色変え</a></li>
  </ul>

</main>
{% endblock %}
<script>

</script>