.nav .nav-item a {
  color: #332d29;
}

.nav .nav-item .active {
  background-color: #f7f7f7;
  color: #332d29;
  font-weight: bold;
}

.content-wrapper {
  background-color: #f7f7f7;
}

.info-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  padding: 3em;
  border: 3px solid #332d29;
  border-radius: 1em;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px;
  padding: 7px 30px 7px 10px;
  font-size: 93%;
  line-height: 1.1em;
  border-radius: 5px;
  border: none;
  background-image: url(./images/icon_arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
  background-color: #bddfff;
}