.scroll-y {
  box-sizing: border-box;
  overflow-y: scroll;
  width: 90%;
  height: 70%;
  max-height: 500px;
  padding: 10px;
  border: 1px solid #aab4b9;
  background: #332d29;
  font-size: 16px;
  transform: translateZ(0);
  border-radius: 0.5em;
  text-align: center;
}

.scroll-y a {
  color: #332d29;
}

.pagenation-x {
  box-sizing: border-box;
  text-align: center;
  overflow-x: scroll;
  width: 90%;
  margin: 1em auto;
  height: auto;
  padding: 0.5em;
  border: 1px solid #aab4b9;
  background: #f0f0f0;
  font-size: 16px;
  transform: translateZ(0);
}

.sep-line {
  border-width: 1px 0px 0px 0px;
  /* 太さ */
  border-style: solid;
  /* 線種 */
  border-color: black;
  /* 線色 */
  height: 1px;
  /* 高さ(※古いIE用) */
  padding: 0.5em;
}

.related-post {
  display: none;
}

.btn-wrapper {
  text-align: right;
}

.related-post-button {
  width: 9em;
  background-color: #332d29;
  border-radius: 5px;
  color: #f7f7f7;
}

.related-post-button:hover {
  background-color: #f7f7f7;
  color: #332d29;
}

.related-post-nav {
  text-align: center;
}

.news-title-wrapper {
  background-color: #f7f7f7;
  border-radius: 0.5em;
  padding: 0.2em;
}

.news-url-wrapper {
  text-align: center;
  margin: 0 auto;
  color: #332d29;
  background-color: #f7f7f7;
  border-radius: 0.2em;
  width: 30%;
}

.news-url-wrapper a {
  color: #332d29;
  background-color: #f7f7f7;
  border-radius: 0.2em;
  width: 30%;
}

.rel-anser {
  padding-top: 0.5em;
}

.left {
  background-color: #f7f7f7;
}

.right {
  background-color: #f7f7f7;
}

.page-item {
  background-color: white;
}

.company-wrapper {
  background-color: #332d29;
  border: 2px solid #332d29;
  border-radius: 10px;
}

.nav .nav-item a {
  color: #332d29;
}

.nav .nav-item {
  background-color: #f7f7f7;
  color: #332d29;
  border: 2px 2px 2px 0;
}

.nav .nav-item .active {
  background-color: #f7f7f7;
  color: #332d29;
  font-weight: bold;
}

ul {
  list-style: none;
}

.question-head {
  font-size: x-large;
  margin-left: 1em;
}

.company-head {
  font-size: x-large;
  margin-left: 1em;
}

.ques-textarea h3 {
  font-size: larger;
}

.ques-textarea textarea {
  width: 100%;
  margin: 0 auto;
  height: 5em;
}

.ques-textarea h3 {
  font-size: larger;
}

.ques-textarea textarea {
  width: 100%;
  margin: 0 auto;
  height: 5em;
}