{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- <link rel="stylesheet" href="{% static 'css/common.css' %}"> -->
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
<!-- headerを書く -->
<header>
{% if is_authenticated %}
<a class="ESuits-header" href="{% url 'esuits:home' %}">ESuits</a>
{% else %}
<a class="ESuits-header" href="{% url 'esuits:home' %}">ESuits</a>
<a class="signup-header" href="{% url 'esuits:signup' %}">アカウント作成</a>
<a class="login-header" href="{% url 'esuits:signup' %}">ログイン</a>
{% endif %}
</header>

{% block content %}{% endblock %}
</body>
</html>
