{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ES作成ページ
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'esuits/css/es_create.css' %}">
<script type="text/javascript" src="{% static 'esuits/js/es_create.js' %}"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}
<main>
  <div class="container pt-4">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#create" class="nav-link active" data-toggle="tab">ES情報登録</a>
      </li>
    </ul>

    <div class="tab-content content-wrapper">
      <div id="create" class="tab-pane active">
        <div class="overflow-auto">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="info-wrapper">
              <div class="form-group row">
                <label for="company" class="col-3 col-form-label">会社名</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="company" name="company" required>
                </div>
              </div>

              <div class="form-group row">
                <label for="selection_type" class="col-3 col-form-label">選考種別</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="selection_type" name="selection_type" placeholder="本選考"
                    required>
                </div>
              </div>

              <div class="form-group row">
                <label for="homepage_url" class="col-3 col-form-label">採用ページ URL</label>
                <div class="col-9">
                  <input type="url" class="form-control" id="homepage_url" name="homepage_url" required>
                </div>
              </div>

              <div class="form-group row">
                <label for="deadline_date" class="col-3 col-form-label">締切</label>
                <div class="col-9">
                  <input type="datetime-local" class="form-control" id="deadline_date" required>
                </div>
              </div>
            </div>

            <div class="info-wrapper">
              <div id="question_list">
                {{ question_formset.management_form }}
                {% for question_form in question_formset.forms %}

                <div class="form-group row">
                  <label for="form-{{ forloop.counter0 }}-question" class="col-0 col-form-label"></label>
                  <div class="col-sm-8">
                    <input type="textarea" class="form-control question" id="form-{{ forloop.counter0 }}-question"
                      name="form-{{ forloop.counter0 }}-question" placeholder="学生時代に頑張ったことは？">
                  </div>
                  <div class="tags col-sm-4">
                    {{ question_form.tags }}
                  </div>
                </div>

                {% endfor %}
              </div>
              <!-- 複数のフォームを作成するために必要 -->
              <div class="submit-wrapper">
                <button id="add" type="button" class="btn btn-add">質問の追加</button>
              </div>
            </div>

            <div class="submit-wrapper my-4">
              <input type="submit" class="btn btn-change-edit" value="作成する">
            </div>


          </form>
        </div>
      </div>
    </div>


  </div>
</main>

<script>
  autoPadding();
  // addClassToSelect();
  // getToday();

  $(function () {
    var totalManageElement = $('input[name$=TOTAL_FORMS]');
    var currentFileCount = parseInt(totalManageElement.val());
    console.log(currentFileCount)

    $('#add').on('click', function () {
      // 新しいform groupを作る
      var formGroup = document.createElement('div');
      formGroup.setAttribute('class', 'form-group row');

      // 新しいlabelを追加
      let newName = 'form-' + currentFileCount + '-question';
      var label = document.createElement('label');
      label.setAttribute('for', newName);
      label.setAttribute('class', 'col-0 col-form-label');
      // let text = '質問 ' + (currentFileCount);
      // var newText = document.createTextNode(text)
      // label.appendChild(newText);

      // inputを覆う新しいdivを作成
      var questionCol = document.createElement('div');
      questionCol.setAttribute('class', 'col-sm-8');

      // 新しいinputを作成
      var input = document.createElement('input');
      input.setAttribute('type', 'text');
      input.setAttribute('class', 'form-control question');
      input.setAttribute('name', newName);
      questionCol.appendChild(input);

      // 必要なものをform-groupに追加
      formGroup.appendChild(label);
      formGroup.appendChild(questionCol);

      // 質問の最後のform-groupをとるために，質問リストを取得
      var parent = document.getElementById('question_list');
      var lastChild = parent.lastElementChild;

      // 最後の質問からtagのリストを取得
      var select = lastChild.lastElementChild.lastElementChild.cloneNode(true);
      select.setAttribute('name', 'form-' + currentFileCount + '-tags');

      // 新しいtag用のdivを作成し，tagを追加
      var tag = document.createElement('div');
      tag.setAttribute('class', 'tags col-sm-4');
      tag.appendChild(select);

      // tagをformGroupに追加
      formGroup.appendChild(tag);

      // 質問のリストの最後に新しい質問のフォームを追加
      parent.insertBefore(formGroup, lastChild.nextSibling);

      currentFileCount += 1;
      totalManageElement.attr('value', currentFileCount);
    });
  });
</script>
{% endblock %}