{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ES作成ページ
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{% endblock %}

{% block content %}
<main>
  <div class="contaier">
    <h1>ES作成ページ</h1>
    <p>ここで企業名や質問を登録します</p>
    <form action="" method="POST">
      {% csrf_token %}
      <p>ES情報</p>
      {{es_form.as_p}}
      <p>------------------------------</p>
      <p>ポスト</p>
      
      {% for post_form in post_formset %}
          {{post_form.question}}
      {% endfor %}
      <input type="submit" value="作成する">
    </form>
  </div>

</main>
{% endblock %}
