{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ES編集ページ
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{% endblock %}

{% block content %}

<style>
.scroll {
	box-sizing: border-box;
	overflow-y: scroll;
	width: 300px;
	height: 100px;
	padding: 10px;
	border: 1px solid #eceaec;
	background: #f7f7f7;
	font-size: 16px;
	transform: translateZ(0);
}
</style>
{% csrf_token %}
{{ formset_management_form }}
<main>
  <h1>ES編集ページ</h1>
  <h2>企業名: {{ es_info.company }}</h2>
  <p>選考種別: {{ es_info.event_type }}</p>

  {% for post, form, related_posts in zipped_posts_info %}
    <div class="card" style="width:30rem;">
      <div class="card-header">
        {{ post.question }}
        
      </div>
      <div class="card-body">
        {{ post.tags }}
        {{ form }}
      </div>
    </div>

    <div class="card" style="width:30rem;">
      <div class="card-header">

        <ul class="nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">企業一覧</a>
            <div class="dropdown-menu">
              {% for related_post in related_posts %}
                <a class="dropdown-item" id="{{related_post.es_group_id}}" href="#">{{ related_post.company }}</a>
              {% endfor %}
          </li>
        </ul>
  
      </div>

      <div class="card-body">

        <div class="tab-content" id="queryInRelatedPost">
          {% for related_post in related_posts %}
            <div class="tab-pane fade show active" id="{{related_post.es_group_id}}" role="tabpanel" aria-labelledby="home-tab">
              {{related_post.answer}}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  {% endfor %}

  <!--<p>{{ message }}</p>-->



  <h2>質問と回答の一覧</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {{ formset_management_form }}

    {% for post, form, related_posts in zipped_posts_info %}
      <h3>{{ post.question }}</h3>
      <p>{{ form }}</p>

      <h4>関連するポスト</h4>
      <p>----------</p>
      {% for post in related_posts %}
        <p>{{ post.question }}</p>
        <p>{{ post.answer }}</p>
        <p>----------</p>
      {% endfor %}
    {% endfor %}
    <input type="submit" value="保存する">
  </form>
  <button></button>

  <div>
    <div>
      <h2>企業の情報</h2>
      <p>ワードクラウドなどをのせる</p>
    </div>

    <div>
      <h2>ニュース一覧</h2>
        <div class="scroll">
			{% for news in news_list %}
				<p>{{ news.title }}</p>
				<a href="{{ news.url }}">{{ news.url }}</a>
			{% endfor %}
      </div>
      
    </div>
  </div>

</main>
{% endblock %}
