{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ホーム
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{% endblock %}

{% block content %}
<main>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#henshuchu" class="nav-link active" data-toggle="tab">編集中</a>
        </li>
        <li class="nav-item">
            <a href="#teishutuzumi" class="nav-link" data-toggle="tab">提出済</a>
        </li>
    </ul>
    

    <div class="tab-content">
        <div id="henshuchu" class="tab-pane active">
            <div class="overflow-auto">
                <table class="table">
                    <thead class="thead-lignt">
                      <tr><th>企業名</th><th>締切</th></tr>
                    </thead>
                    {% for es in editing %}
                      <a href="{% url 'esuits:es_edit' es.pk %}"><tr><td>{{es.company}}</td><td>{{es.deadline}}</td></tr></a>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="teishutuzumi" class="tab-pane">
            <div class="overflow-auto">
                <table class="table">
                    <thead class="thead-lignt">
                      <tr><th>企業名</th><th>締切</th></tr>
                    </thead>
                    {% for es in editing %}
                      <a href="{% url 'esuits:es_edit' es.pk %}"><tr><td>{{es.company}}</td><td>{{es.deadline}}</td></tr></a>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'esuits:es_create' %}">新規作成</a>
</main>
{% endblock %}