{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ホーム
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{% endblock %}

{% block content %}
<main>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#henshuchu" class="nav-link active" data-toggle="tab">編集中</a>
    </li>
    <li class="nav-item">
      <a href="#teishutuzumi" class="nav-link" data-toggle="tab">提出済</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div id="henshuchu" class="tab-pane active">
      <div class="overflow-auto">
        <table class="table">
          <thead class="thead-lignt">
            <tr>
              <th scope="col">企業名</th>
              <th scope="col">種別</th>
              <th scope="col">締め切り</th>
              <th scope="col">提出したボタン</th>
            </tr>
          </thead>
          {% for es in editing %}
            <tr>
              <td><a href="{% url 'esuits:es_edit' es.pk %}">{{es.company}}</a></td>
              <td>{{es.event_type}}</td>
              <td>{{es.deadline_date}}</td>
              <td><button class="btn btn-lg btn-primary btn-block" type="submit">提出した</button></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div id="teishutuzumi" class="tab-pane">
      <div class="overflow-auto">
        <table class="table">
          <thead class="thead-lignt">
            <tr><th>企業名</th><th>種別</th><th>締め切り</th></tr>
          </thead>
          {% for es in finished %}
            <tr>
              <td><a href="{% url 'esuits:es_edit' es.pk %}">{{es.company}}</a></td>
              <td>{{es.event_type}}</td>
              <td>{{es.deadline_date}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <a href="{% url 'esuits:es_create' %}">新規作成</a>
</main>
{% endblock %}