{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
ESuits | LogIn
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'esuits/css/account.css' %}">
{% endblock %}

{% block header %}
<section class="account-bg">
    <form class="form-signin" method="POST" action="">{% csrf_token %}
        <label for="inputUsername" class="sr-only">ユーザー名</label>
        <input type="text" id="inputUsername" class="form-control my-3" name="username" placeholder="ユーザー名" required
            autofocus>

        <label for="inputPassword" class="sr-only">パスワード</label>
        <input type="password" id="inputPassword" class="form-control my-3" name="password" placeholder="パスワード"
            required>
        <button class="btn btn-lg btn-block submit-btn my-3 mt-4 font-weight-bold" type="submit">アカウント作成</button>
        <p>新規登録は<a href="{% url 'esuits:signup' %}">こちら</a></p>
    </form>
</section>

{% endblock %}