{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
タグ作成ページ
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'esuits/css/tag_create.css' %}">
{% endblock %}

{% block content %}
<main>
  <section class="tag-register"></section>
    <form class="form-inline" action="" 　method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="registerNewTag" class="sr-only">タグを新規入力</label>
        <input type="text" class="form-control my-3" id="registerNewTag" placeholder="自己PR、ガクチカなど"
          required>{{tag_form.tag_name}}
      </div>
      <button type="submit" class="btn btn-lg btn-block submit-btn my-3 mt-4 font-weight-bold">作成</button>
    </form>
  </section>
  <section class="table-tags">
    <div class="overflow-auto">
      <table class="table table-text">
        <thead class="thead-light">
          <tr>
            <th class="table-head table-tag" scope="col">タグ名</th>
          </tr>
        </thead>
        {% for tag in tags %}
        <tr>
          <td class="row-tag">{{ tag }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>
    <!--
    {% for tag in  tags%}
      {{tag}}
    {% endfor %}
    -->
    <!-- <form action="" method="POST">
      {% csrf_token %}-->
      <!-- 複数のフォームを作成(formset)するために必要 -->
      <!--
      {% for tag_form in tag_formset.forms %}
        {{tag_form.tag_name}}
      {% endfor %}-->
    <!--{{ tag_formset.management_form }} 
      
    </form>-->
  </div>

</main>

  <script>
    autoPadding();
  </script>
{% endblock %}